
<md-sidenav-layout fullscreen [class.m2app-dark]="isDarkTheme">
  <md-sidenav #sidenav mode="side" class="app-sidenav">
   
	<div [routerLinkActive]="['active']"><button md-button [routerLink]="['/home']"><md-icon>home</md-icon> Home</button></div>	
  <div [routerLinkActive]="['active']"><button md-button [routerLink]="['/page1']"><md-icon>settings</md-icon> Material</button></div>	
  <div [routerLinkActive]="['active']"><button md-button [routerLink]="['/page2']"><md-icon>card_giftcard</md-icon> Data</button></div>	
  </md-sidenav>
  
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    Angular 2 Material2 Example App
    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
    <button *ngIf="authService.loggedIn()" md-button (click)="dataService.logout()">Logout</button>
  </md-toolbar>
  
  <div class="app-content">
    <main>
    	<router-outlet></router-outlet>
    </main>
  </div>

  
</md-sidenav-layout>
<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>